html * {
    font-family: "Roboto", Calibri, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

html, body {
    margin: 0;
    height: 100%;
}

body > div {
    padding-bottom: 32px;
}

div {
    display: flex;
}

.header {
    justify-content: space-between;
    width: 75%
}

.header-links > a {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 32px;
}

.header-links {
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.intro {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

#intro-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.landing {
    align-items: center;
    justify-content: center;
    width: 75%;
}

button {
    display: inline-flex;
    padding-inline: 24px;
    padding-block: 4px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

.info {
    background-color: #F9FaF8;
    width: 100%;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}



.info > * {
    padding-bottom: 16px;

}

.info-img-box {
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.img-txt {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.info-img {
    border: 4px solid #3882F6;;
    border-radius: 8px;
    width: 120px;
}

.quote {
    width: 100%;
    margin: 0;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}

#quoteText {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    padding: 16px;
    width: 75%;
}

#quotedPerson {
    text-align: right;
    padding: 16px;
    width: 75%;
}

.footer {
    padding: 32px;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

.signup {
    justify-content: space-between;
    padding: 32px;
    border-radius: 12px;
    width: 40%;
    margin: 32px;
    background-color: #3882F8;
    align-items: center;
}

.cta-left {
    flex: 3 0 auto;
    flex-direction: column;
}

.cta-left > p {
    margin: 0;
    color: #E5E7EB
}

.cta-right {
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.mini-header {
    font-size: 32px;
    font-weight: 600;
}